#Nia Febriyanti
###Data Science Fellowship Batch 5 - IYKRA

1. Data Preparation
    - Importing Library
    - Read the dataset from github source
    - Basic information of the dataset
    - Brief statistics
    - Show percentage of null value

2. Pre-processing
    - Delete columns that have many missing values
    - Change data type
    - Filtering data only 2017
    - Cleaning duplicate data

2. Answering the questions
    - Question 1
    - Question 2
    - Question 3
    - Question 4
    - Question 5

##Data Preparation

In [184]:
#Import library
import pandas as pd
import numpy as np

In [185]:
#Read the dataset
data = pd.read_csv("https://raw.githubusercontent.com/Syukrondzeko/Fellowship-5/main/Seasons_Stats.csv")
display(data.shape)
data.head(20)

(24691, 53)

    Unnamed: 0    Year           Player  Pos  ...  BLK TOV     PF     PTS
0            0  1950.0  Curly Armstrong  G-F  ...  NaN NaN  217.0   458.0
1            1  1950.0     Cliff Barker   SG  ...  NaN NaN   99.0   279.0
2            2  1950.0    Leo Barnhorst   SF  ...  NaN NaN  192.0   438.0
3            3  1950.0       Ed Bartels    F  ...  NaN NaN   29.0    63.0
4            4  1950.0       Ed Bartels    F  ...  NaN NaN   27.0    59.0
5            5  1950.0       Ed Bartels    F  ...  NaN NaN    2.0     4.0
6            6  1950.0      Ralph Beard    G  ...  NaN NaN  132.0   895.0
7            7  1950.0       Gene Berce  G-F  ...  NaN NaN    6.0    10.0
8            8  1950.0    Charlie Black  F-C  ...  NaN NaN  273.0   661.0
9            9  1950.0    Charlie Black  F-C  ...  NaN NaN  140.0   382.0
10          10  1950.0    Charlie Black  F-C  ...  NaN NaN  133.0   279.0
11          11  1950.0      Nelson Bobb   PG  ...  NaN NaN   97.0   242.0
12          12  1950.0  Jake Bornheimer  F-C  ...  NaN NaN  111.0   254.0
13          13  1950.0     Vince Boryla   SF  ...  NaN NaN  203.0   612.0
14          14  1950.0        Don Boven  F-G  ...  NaN NaN  255.0   656.0
15          15  1950.0    Harry Boykoff    C  ...  NaN NaN  229.0   779.0
16          16  1950.0      Joe Bradley    G  ...  NaN NaN   51.0    87.0
17          17  1950.0      Bob Brannum   PF  ...  NaN NaN  279.0   713.0
18          18  1950.0       Carl Braun  G-F  ...  NaN NaN  188.0  1031.0
19          19  1950.0    Frankie Brian    G  ...  NaN NaN  192.0  1138.0

[20 rows x 53 columns]

In [186]:
#Brief information of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24691 entries, 0 to 24690
Data columns (total 53 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24691 non-null  int64
 1   Year        24624 non-null  float64
 2   Player      24624 non-null  object
 3   Pos         24624 non-null  object
 4   Age         24616 non-null  float64
 5   Tm          24624 non-null  object
 6   G           24624 non-null  float64
 7   GS          18233 non-null  float64
 8   MP          24138 non-null  float64
 9   PER         24101 non-null  float64
 10  TS%         24538 non-null  float64
 11  3PAr        18839 non-null  float64
 12  FTr         24525 non-null  float64
 13  ORB%        20792 non-null  float64
 14  DRB%        20792 non-null  float64
 15  TRB%        21571 non-null  float64
 16  AST%        22555 non-null  float64
 17  STL%        20792 non-null  float64
 18  BLK%        20792 non-null  float64
 19  TOV%        19582 non-null  float64
 20  USG%        19640 non-null  float64
 21  blanl       0 non-null      float64
 22  OWS         24585 non-null  float64
 23  DWS         24585 non-null  float64
 24  WS          24585 non-null  float64
 25  WS/48       24101 non-null  float64
 26  blank2      0 non-null      float64
 27  OBPM        20797 non-null  float64
 28  DBPM        20797 non-null  float64
 29  BPM         20797 non-null  float64
 30  VORP        20797 non-null  float64
 31  FG          24624 non-null  float64
 32  FGA         24624 non-null  float64
 33  FG%         24525 non-null  float64
 34  3P          18927 non-null  float64
 35  3PA         18927 non-null  float64
 36  3P%         15416 non-null  float64
 37  2P          24624 non-null  float64
 38  2PA         24624 non-null  float64
 39  2P%         24496 non-null  float64
 40  eFG%        24525 non-null  float64
 41  FT          24624 non-null  float64
 42  FTA         24624 non-null  float64
 43  FT%         23766 non-null  float64
 44  ORB         20797 non-null  float64
 45  DRB         20797 non-null  float64
 46  TRB         24312 non-null  float64
 47  AST         24624 non-null  float64
 48  STL         20797 non-null  float64
 49  BLK         20797 non-null  float64
 50  TOV         19645 non-null  float64
 51  PF          24624 non-null  float64
 52  PTS         24624 non-null  float64
dtypes: float64(49), int64(1), object(3)
memory usage: 10.0+ MB

In [187]:
#Brief statistics
data.describe()

         Unnamed: 0          Year  ...            PF           PTS
count  24691.000000  24624.000000  ...  24624.000000  24624.000000
mean   12345.000000   1992.594989  ...    116.339222    510.116350
std     7127.822084     17.429594  ...     84.791873    492.922981
min        0.000000   1950.000000  ...      0.000000      0.000000
25%     6172.500000   1981.000000  ...     39.000000    106.000000
50%    12345.000000   1996.000000  ...    109.000000    364.000000
75%    18517.500000   2007.000000  ...    182.000000    778.000000
max    24690.000000   2017.000000  ...    386.000000   4029.000000

[8 rows x 50 columns]

In [188]:
#Show percentage of null values 
data.isnull().sum()*100/data.shape[0]

Unnamed: 0      0.000000
Year            0.271354
Player          0.271354
Pos             0.271354
Age             0.303754
Tm              0.271354
G               0.271354
GS             26.155279
MP              2.239682
PER             2.389535
TS%             0.619659
3PAr           23.700944
FTr             0.672310
ORB%           15.791179
DRB%           15.791179
TRB%           12.636183
AST%            8.650925
STL%           15.791179
BLK%           15.791179
TOV%           20.691750
USG%           20.456847
blanl         100.000000
OWS             0.429306
DWS             0.429306
WS              0.429306
WS/48           2.389535
blank2        100.000000
OBPM           15.770929
DBPM           15.770929
BPM            15.770929
VORP           15.770929
FG              0.271354
FGA             0.271354
FG%             0.672310
3P             23.344538
3PA            23.344538
3P%            37.564295
2P              0.271354
2PA             0.271354
2P%             0.789761
eFG%            0.672310
FT              0.271354
FTA             0.271354
FT%             3.746304
ORB            15.770929
DRB            15.770929
TRB             1.534972
AST             0.271354
STL            15.770929
BLK            15.770929
TOV            20.436596
PF              0.271354
PTS             0.271354
dtype: float64

In [189]:
#Delete columns that have as many missing values as the entire row of data
data_clean = data.drop(columns = ['blanl','blank2'])

In [190]:
#Show the null values
data_clean.isnull().sum()*100/data_clean.shape[0]

Unnamed: 0     0.000000
Year           0.271354
Player         0.271354
Pos            0.271354
Age            0.303754
Tm             0.271354
G              0.271354
GS            26.155279
MP             2.239682
PER            2.389535
TS%            0.619659
3PAr          23.700944
FTr            0.672310
ORB%          15.791179
DRB%          15.791179
TRB%          12.636183
AST%           8.650925
STL%          15.791179
BLK%          15.791179
TOV%          20.691750
USG%          20.456847
OWS            0.429306
DWS            0.429306
WS             0.429306
WS/48          2.389535
OBPM          15.770929
DBPM          15.770929
BPM           15.770929
VORP          15.770929
FG             0.271354
FGA            0.271354
FG%            0.672310
3P            23.344538
3PA           23.344538
3P%           37.564295
2P             0.271354
2PA            0.271354
2P%            0.789761
eFG%           0.672310
FT             0.271354
FTA            0.271354
FT%            3.746304
ORB           15.770929
DRB           15.770929
TRB            1.534972
AST            0.271354
STL           15.770929
BLK           15.770929
TOV           20.436596
PF             0.271354
PTS            0.271354
dtype: float64

In [191]:
#Change data type
data_clean['Year'] = data_clean['Year'].astype("Int64")
data_clean['Age'] = data_clean['Age'].astype("Int64")

#Take only 2017 data
data_2017 = data_clean[data_clean['Year']==2017]

In [192]:
#Cleaning duplicate value
data_2017 = data_2017.drop_duplicates(subset = ['Player', 'Age'], keep='last')
data_2017.head()

       Unnamed: 0  Year         Player Pos  ...   BLK    TOV     PF    PTS
24096       24096  2017   Alex Abrines  SG  ...   8.0   33.0  114.0  406.0
24099       24099  2017     Quincy Acy  PF  ...  15.0   19.0   58.0  209.0
24100       24100  2017   Steven Adams   C  ...  78.0  146.0  195.0  905.0
24101       24101  2017  Arron Afflalo  SG  ...   7.0   42.0  104.0  515.0
24102       24102  2017  Alexis Ajinca   C  ...  22.0   31.0   77.0  207.0

[5 rows x 51 columns]

##Questions

> Question 1.

- Who is the youngest and oldest player in the NBA in 2017 for each team (Tm) ?

######The youngest player each team

In [193]:
data_2017['Tm'].unique()

array(['OKC', 'BRK', 'SAC', 'NOP', 'MIN', 'SAS', 'IND', 'MEM', 'POR',
       'CLE', 'LAC', 'PHI', 'HOU', 'MIL', 'NYK', 'DEN', 'ORL', 'MIA',
       'PHO', 'DAL', 'GSW', 'CHO', 'DET', 'ATL', 'WAS', 'LAL', 'UTA',
       'BOS', 'CHI', 'TOR'], dtype=object)

In [194]:
#create empty dataframe
minimum = pd.DataFrame(columns=['Tm','Player','Age'])

team = data_2017['Tm'].unique() ##get the unique team in 2017
Q1 = data_2017[['Tm','Player','Age']] ##get only Team, player and age variable

for i in team:
  team_1 = Q1[Q1['Tm'] == i]
  team_2 = team_1[team_1['Age'] == team_1['Age'].min()]
  minimum = minimum.append(team_2, ignore_index=False)

#show the result
minimum.reset_index(drop=True)

     Tm                   Player  Age
0   OKC         Domantas Sabonis   20
1   BRK         Isaiah Whitehead   21
2   SAC     Georgios Papagiannis   19
3   NOP            Cheick Diallo   20
4   MIN               Tyus Jones   20
5   SAS          Dejounte Murray   20
6   IND             Myles Turner   20
7   MEM             Wade Baldwin   20
8   MEM            Deyonta Davis   20
9   POR              Noah Vonleh   21
10  CLE               Kay Felder   21
11  LAC            Diamond Stone   19
12  PHI  Timothe Luwawu-Cabarrot   21
13  PHI            Jahlil Okafor   21
14  HOU           Chinanu Onuaku   20
15  MIL               Thon Maker   19
16  NYK       Kristaps Porzingis   21
17  DEN             Jamal Murray   19
18  ORL        Stephen Zimmerman   20
19  MIA          Justise Winslow   20
20  PHO            Dragan Bender   19
21  PHO          Marquese Chriss   19
22  PHO            Derrick Jones   19
23  DAL               Ben Bentil   21
24  GSW             Kevon Looney   20
25  CHO           Christian Wood   21
26  DET           Henry Ellenson   20
27  DET          Stanley Johnson   20
28  ATL          DeAndre' Bembry   22
29  ATL    Taurean Waller-Prince   22
30  WAS         Chris McCullough   21
31  WAS              Kelly Oubre   21
32  LAL           Brandon Ingram   19
33  LAL              Ivica Zubac   19
34  UTA               Dante Exum   21
35  UTA               Trey Lyles   21
36  BOS             Jaylen Brown   20
37  CHI             Bobby Portis   21
38  TOR            Bruno Caboclo   21
39  TOR             Jakob Poeltl   21

In [195]:
#create empty dataframe
maximum = pd.DataFrame(columns=['Tm','Player','Age'])

team = data_2017['Tm'].unique() ##get the unique team in 2017
Q1 = data_2017[['Tm','Player','Age']] ##get only Team, player and age variable

for i in team:
  team_1 = Q1[Q1['Tm'] == i]
  team_2 = team_1[team_1['Age'] == team_1['Age'].max()]
  maximum = maximum.append(team_2, ignore_index=False)

maximum.reset_index(drop=True)

     Tm            Player  Age
0   OKC     Nick Collison   36
1   BRK        Luis Scola   36
2   SAC     Arron Afflalo   31
3   SAC  Anthony Tolliver   31
4   NOP      Jarrett Jack   33
5   MIN        John Lucas   34
6   SAS     Manu Ginobili   39
7   IND      Aaron Brooks   32
8   IND      Al Jefferson   32
9   MEM      Vince Carter   40
10  POR       Evan Turner   28
11  CLE    Chris Andersen   38
12  LAC       Paul Pierce   39
13  PHI    Tiago Splitter   32
14  HOU      Nene Hilario   34
15  MIL       Jason Terry   39
16  NYK   Carmelo Anthony   32
17  NYK     Sasha Vujacic   32
18  DEN       Mike Miller   36
19  ORL       C.J. Watson   32
20  MIA     Udonis Haslem   36
21  PHO   Leandro Barbosa   34
22  PHO    Tyson Chandler   34
23  DAL     Dirk Nowitzki   38
24  GSW       Matt Barnes   36
25  GSW        David West   36
26  CHO     Brian Roberts   31
27  DET        Beno Udrih   34
28  ATL     Mike Dunleavy   36
29  WAS     Marcin Gortat   32
30  LAL       Metta World   37
31  UTA       Joe Johnson   35
32  BOS      Gerald Green   31
33  CHI       Dwyane Wade   35
34  TOR       P.J. Tucker   31

> Question 2.

- Which player has the most minutes played (MP) in each position (Pos)?

In [196]:
Q2 = data_2017.copy()

#take Player, Position, MP Variable
Q2 = Q2[['Player',"Pos","MP"]]

#take unique Position
position = Q2['Pos'].unique()

#create empty dataframe
most_MP = pd.DataFrame(columns=['Player',"Pos","MP"])

#Display all player in each position who has the most Minutes Played (MP)
for i in position:
  Q2_position = Q2[Q2['Pos'] == i]
  Q2_max_mp = Q2_position[Q2_position['MP'] == Q2_position['MP'].max()]
  most_MP = most_MP.append(Q2_max_mp, ignore_index=False)

most_MP.reset_index(drop=True)

               Player Pos      MP
0       C.J. McCollum  SG  2796.0
1     Harrison Barnes  PF  2803.0
2  Karl-Anthony Towns   C  3030.0
3      Andrew Wiggins  SF  3048.0
4        James Harden  PG  2947.0

> Question 3

- Which team has the highest average total rebound percentage (TRB%), assist percentage (AST%), steal percentage (STL%), and block percentage (BLK%)?

In [197]:
cols = ['TRB%',"AST%","STL%","BLK%"]
for i in cols:
  Q3 = data_2017[['Tm',i]]
  Q3 = Q3.groupby(["Tm"]).mean().reset_index(False)
  Q3 = Q3[Q3[i] == Q3[i].max()]
  display(Q3.reset_index(drop=True))
  print()

    Tm       TRB%
0  WAS  12.735294

    Tm       AST%
0  DEN  15.723529

    Tm      STL%
0  MIN  2.413333

    Tm      BLK%
0  MIL  2.741176

> Question 4.

- Who is the best player in your opinion based on his record stats? note: you can refer to variables point (PTS), assists, rebounds, or anything else. A combination of several variables would be nice.

###Basketball Statistics Definition
Can be found [here](https://www.basketball-reference.com/about/glossary.html)

GM, GP; GS: games played; games started

PTS: points

FGM, FGA, FG%: field goals made, attempted and percentage

FTM, FTA, FT%: free throws made, attempted and percentage

3FGM, 3FGA, 3FG%: three-point field goals made, attempted and percentage

REB, OREB, DREB: rebounds, offensive rebounds, defensive rebounds

AST: assists

STL: steals

BLK: blocks

TO: turnovers

EFF: efficiency: NBA's efficiency rating: (PTS + REB + AST + STL + BLK − ((FGA − FGM) + (FTA − FTM) + TO))

PF: personal fouls

MIN: minutes

AST/TO: assist to turnover ratio

PER: Player Efficiency Rating: John Hollinger's Player Efficiency Rating

PIR: Performance Index Rating: Euroleague's and Eurocup's Performance Index Rating.

PIR: (Points + Rebounds + Assists + Steals + Blocks + Fouls Drawn) − (Missed Field Goals + Missed Free Throws + Turnovers + Shots Rejected + Fouls Committed)

A journal about PIR formula can be found [here](http://jdatasci.com/index.php/jdatasci/article/download/3/4/)

In [198]:
data_2017.columns

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM',
       'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [199]:
Q4 = data_2017.copy()
Q4['A'] = Q4['PTS'] + Q4['TRB'] + Q4['AST'] + Q4['STL'] + Q4['BLK'] + Q4['PF']
Q4['B'] = Q4['FG'] + Q4['FT'] + Q4['TOV']
Q4['PIR_Value'] = Q4['A'] - Q4['B']

best_player = Q4[['Player','Tm','PIR_Value']]
best_player[best_player['PIR_Value'] == best_player['PIR_Value'].max()]

                  Player   Tm  PIR_Value
24654  Russell Westbrook  OKC     2644.0

> Question 5

- Which team has the best average stat record of their players? Note: you can refer to points, assists, rebounds, or anything else. A combination of several variables would be nice.

To find the best team, I use the PIR value from each player each team and then average the PIR for each player from each team.

In [200]:
#The new variable to know the best stat is PIR_Value
Q5 = Q4.copy()

#Grouping by team
Q5 = Q5[['Tm','PIR_Value']]
best_team = Q5.groupby(['Tm']).mean().reset_index()

#show the best team 
best_team[best_team['PIR_Value'] == best_team['PIR_Value'].max()]
#best_team.sort_values('PIR_Value', ascending=False)

     Tm  PIR_Value
15  MIA      775.0